* {
    box-sizing: border-box;
}

#about {
    height: 100vh;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#aboutRow {
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

#about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
}

.card {
    width: 30rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

#projects {
    padding: 50px 0px;
}
#projDiv {
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1rem;
    justify-items: center;
}

#projDiv div {
    width: 500px;
    height: 425px;
}

.projImage:hover img {
    opacity: 0.2;
}

.projImage:hover .showInfo {
    opacity: 1;
}

.showInfo {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -100%;
    text-align: center;
}

#projDiv a {
    text-decoration: none;
    color: black;
}

#contactForm {
    max-width: 800px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
    margin: 200px 5px 5px 5px;
    padding: 10px;
}

#socialLinks a {
    font-size: 2rem;
    color: black;
    padding-right: 20px;
}

@media (min-width: 769px) {
    #projDiv {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}
