* {
    box-sizing: border-box;
}

#about {
    height: 100vh;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#aboutRow {
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

#about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
}