* {
    box-sizing: border-box;
}

#about {
    height: 100vh;
    color: #343A40;
}

#aboutRow {
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

#about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    background: #343A40;
    color: white;
}

.card {
    width: 30rem;
}

#projDiv img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border: 1px solid gray;
}

#photo-background {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

#background {
    display: block;
    width: 100%;
    height: 100%;
}

#photo-div {
    display: inline-block;
}

#photo {
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
}

#projects {
    padding: 50px 0px;
}

#projDiv {
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1rem;
    justify-items: center;
}

#projDiv div {
    width: 500px;
    height: 425px;;
}

.projImage {
    box-shadow: 10px 10px 5px gray;
}

.projImage:hover img {
    opacity: 0.1;
    transition: .5s;
    transform: scale(1.1);
   
    border: none;
}

.projImage:hover {
    transition: .5s;
    box-shadow: none
}

.projImage:hover .showInfo {
    opacity: 1;
    transition: .5s;
}

.showInfo {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -100%;
    text-align: center;
}

#projDiv a {
    text-decoration: none;
    color: black;
}

#projDiv h3 {
    padding: 100px 0;
}

#contactForm {
    max-width: 800px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
    margin: 200px 5px 5px 5px;
    padding: 10px;
    background: #343A40;
    color: white;
}

#socialLinks a {
    font-size: 2rem;
    color: black;
    padding-right: 20px;
}

@media (min-width: 769px) {
    #projDiv {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}
